
<div class="container wrapper--center">
	<div>
		<img src="./assets/banner.png" width="" />
	</div>
	<div class="main--center">
		<div class="c info--left">
			<div class="phrase text1--color">
				<p><strong>Esta es una actividad que busca acercar al nuevo y principal Instituto de Mecánica Automotriz en el Perú a los profesionales,  técnicos y todos quienes se dedican a la mecánica.</strong></p>
				<p>Este instituto estará dedicado a la formación profesional en los distintos aspectos del mercado automotor.
					Nuestro inicio será el 2018.</p>
			</div>
			<div class="slogan text2--color">
				¡VIVIMOS LA PASIÓN POR LOS FIERROS!
			</div>
		</div>

		<div class="c x-form form--right">
				<h3>INGRESA TUS DATOS.</h3>
				<div class="text3--color">Solo para efectos del sorteo y comunicación</div>
			<form action="" class="form--styl">
				<div>
					<label for="">Nombres</label>
					<input class="input" type="text">
				</div>
				<div>
					<label for="">Apellido Paterno</label>
					<input class="input" type="text">
				</div>
				<div>
					<label for="">Apellido Materno</label>
					<input class="input" type="text">
				</div>
				<div>
					<label for="">Celular</label>
					<input class="input" type="number">
				</div>
				<div>
					<label for="">Email</label>
					<input class="input" type="number">
				</div>
				<div>
					<label for="">Fecha de Nacimiento</label>
					<input class="input" type="date">
				</div>
				<div>
					<label for="">Teléfono Fijo</label>
					<input class="input" type="number">
				</div>
				<div>
					<label for="">Distrito donde vives</label>
					<input class="input" type="number">
				</div>
				<div>
					<label for="">Educación</label>
					<select class="input" name="" id="">
							<option>sin estudios</option>
							<option>primaria incompleta</option>
							<option>primaria completa</option>
							<option>secundaria incompleta</option>
							<option>secundaria completa</option>
							<option>técnica incompleta</option>
							<option>técnica completa</option>
							<option>Universitaria incompleta</option>
							<option>Universitaria completa</option>
					</select>
				</div>

				<div>
					<label for="">Distrito donde trabajas</label>
					<input class="input" type="number">
				</div>        
				<div>
					<label for="">Nombre del taller</label>
					<input class="input" type="number">
				</div>        
				<div>
					<label for="">Dirección del taller</label>
					<input class="input" type="number">
				</div>        
				<div>
					<label for="">Cargo en el taller</label>
					<input class="input" type="number">
				</div>        
				<div>
					<label for="">Funciones que realiza en el taller</label>
					<textarea class="textarea" name="" id="" ></textarea>
				</div>
				<div class="btn--submit">
					<button>ENVIAR TUS DATOS</button>
				</div>
			</form>
			
		</div>
	</div>
</div>